# Common
TIMEZONE=

# Database Common
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_EMAIL=

# Discovery & Config
EUREKA_SERVER=
DISCOVERY_SERVICE_PORT=

# Infrastructure Ports
PGADMIN_PORT=
GATEWAY_PORT=
REDIS_PORT_EXTERNAL=

# Service Ports
USER_SERVICE_PORT=
ACADEMIC_SERVICE_PORT=
SCORE_SERVICE_PORT=
ATTENDANCE_SERVICE_PORT=
ADMIN_SERVICE_PORT=
CHAT_SERVICE_PORT=

# MQTT Ports
MQTT_PORT=
MQTT_TLS_PORT=
MQTT_WS_PORT=

# Database Ports
USER_DB_PORT=
ACADEMIC_DB_PORT=
SCORE_DB_PORT=
ATTENDANCE_DB_PORT=

# Security
JWT_SECRET=
JWT_EXPIRATION_MS=

# User Service
USER_DB_URL=
USER_DB_NAME=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Academic Service
ACADEMIC_DB_URL=
ACADEMIC_DB_NAME=
REDIS_HOST=
REDIS_PORT=

# Attendance Service
ADMIN_SERVICE_URL=
ATTENDANCE_DB_URL=
ATTENDANCE_DB_NAME=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_HOST=
MAIL_PORT=
MQTT_TLS_ENABLED=

# API Gateway
ALLOWED_ORIGINS=
SCORE_DB_URL=
SCORE_DB_NAME=
REDIS_PASSWORD=

MQTT_BROKER_URL=

# Images
POSTGRES_IMAGE=
PGADMIN_IMAGE=
MOSQUITTO_IMAGE=
REDIS_IMAGE=

MQTT_TRUSTSTORE_PATH=
MQTT_TRUSTSTORE_PASSWORD=

MQTT_KEYSTORE_PATH=
MQTT_KEYSTORE_PASSWORD=
MQTT_KEYSTORE_TYPE=

# Chat Service (Firebase)
FIREBASE_SERVICE_ACCOUNT_BASE64=
