<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <title>Thêm/Cập nhật khối lớp</title>
    <th:block th:replace="~{base :: bootstrap}"></th:block>
</head>
<body class="d-flex flex-column min-vh-100">
<p th:replace="~{base :: header}"></p>
<main class="flex-grow-1 container mt-5">
    <h2 class="text-center text-primary mb-4"
        th:text="${grade.id == null ? 'Thêm khối lớp mới' : 'Cập nhật khối lớp'}">
    </h2>
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>

    <div class="d-flex align-items-center mb-2">
        <a th:href="@{/years/{id}/grades(id=${yearDisplay.id})}" class="btn btn-outline-secondary me-4"><i
                class="fa-solid fa-caret-left fa-xl"></i></a>

        <h5 th:text="'Năm học' + ' ' + ${yearDisplay.name}"></h5>
    </div>

    <form method="post"
          th:action="@{/grades}"
          th:object="${grade}"
          class="row g-3 needs-validation">

        <div>
            <label for="name" class="form-label">Chọn khối lớp:</label>
            <select class="form-select" id="name" th:field="*{name}"
                    th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'">
                <option value="Grade 10">Khối 10</option>
                <option value="Grade 11">Khối 11</option>
                <option value="Grade 12">Khối 12</option>
            </select>
            <div class="invalid-feedback" th:errors="*{name}"></div>
        </div>

        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{yearId}"/>

        <div>
            <button type="submit" class="btn btn-success">
                <span th:if="${grade.id == null}">➕ Thêm khối lớp</span>
                <span th:unless="${grade.id == null}">💾 Cập nhật khối lớp</span>
            </button>
        </div>
    </form>
</main>
<p th:replace="~{base :: footer}"></p>
</body>
</html>

