<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
    <head>
        <title>Học kỳ</title>
    <th:block th:replace="~{base :: bootstrap}"></th:block>
</head>
<body class="d-flex flex-column min-vh-100">
    <p th:replace="~{base :: header}"></p>
    <main class="flex-grow-1 container mt-5">
        <h2 class="mb-4">Danh sách học kỳ</h2>

        <form th:action="@{/years/{id}/semesters(id=${yearDisplay.id})}" method="get" class="row g-3 align-items-center">
            <div class="col-md-9">
                <div class="row g-3 align-items-center">
                    <div class="col-md-1">
                        <a th:href="@{/years}" class="btn btn-outline-secondary"><i
                                class="fa-solid fa-caret-left fa-xl"></i></a>
                    </div>
                    <div class="col-md-3">
                        <h5 th:text="'Năm học' + ' ' + ${yearDisplay.name}"></h5>
                    </div>
                    <div class="col-md-4">
                        <label>
                            <input type="text" name="kw" class="form-control" placeholder="Tìm kiếm..." th:value="${kw}"/>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Lọc</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-end">
                <a th:href="@{/years/{id}/semesters/add(id=${yearDisplay.id})}" class="btn btn-success">+ Thêm học kỳ</a>
            </div>
        </form>


        <hr />

        <div class="p-3 my-3 border rounded-3">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>Học kỳ</th>
                        <th>Hành động</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="s : ${semesterDisplays}">
                        <td th:text="${s.name}"></td>
                        <td>
                            <a th:href="@{/semesters/{semesterId}(semesterId=${s.id})}"
                               class="btn btn-warning">✏️</a>
                            <button class="btn btn-danger"
                                    th:data-url="@{/semesters/}"
                                    th:data-id="${s.id}"
                                    onclick="deleteHandler(this)">
                                🗑️
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <p th:replace="~{base :: footer}"></p>
    <script th:src="@{/js/delete.js}"></script>
</body>
</html>

